#!/bin/bash
# config file for CDSAnnotator.sh
# conda_profile: The path for the conda profile file. It's usually in $USERHOME/anaconda3/etc/profile/conda.sh
# BASTAenv: The environment name of conda where basta is installed (If it's installed in "base", it should be set as "base").
# ASSEMBLYenv: The environment name of conda where "fastp", "fastqc", and "SPAdes" are installed (If it's installed in "base", it should be set as "base").
# PROKKAenv: The environment name of conda where "prokka" is installed (If it's installed in "base", it should be set as "base").
# bowtie2_humanref: The path for bowtie2 database of human genome (shoud be bowtie2ref format).
# diamond_outputdir: The directory where all DIAMOND outputs will be saved.
# NR_DATABASE: The path for NCBI non-redundant protein database (.dmnd format) file.
# GTDB_DATABASE: The path for GTDB protein database (.dmnd format) file.   
# min_contig: The minimum length of contigs used for the post annotation analysis.
# thread: The number of threads used for the analysis.
#
conda_profile=/home/user/anaconda3/etc/profile.d/conda.sh
BASTAenv=condaenv
ASSEMBLYenv=condaenv
PROKKAenv=condaenv
bowtie2_humanref=/datadir/human_bowtie2ref
diamond_outputdir=/outdir
NR_DATABASE=/datadir/nr.dmnd
GTDB_DATABASE=/datadir/gtdb_faa_r214.dmnd
bowtie2_refdir=./bowtie2ref
min_contig_length=500
thread=24